# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Generated protobuf code
*_pb2.py
*_pb2_grpc.py
*.pb.go
*.pb.h
*.pb.c

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temp
*.tmp
*.bak
nul

